# public/.htaccess

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Wenn die angeforderte Datei/Verzeichnis nicht existiert …
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # … leite alles an index.php weiter und übergebe den Teil hinter dem Slash als GET-Parameter "route"
  RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>
